<!--<div class="ui-content-pane ui-fh">
    <div class="ui-content-bg">
        <div class="ui-content-bg-note">
            <p class="text-center"><i class="revegy-icon icon-user-solid"></i></p><p>Select a user to get started</p>
        </div>
    </div>
</div>-->
