.clear-date-btn{
  width: 30px;
  vertical-align: middle;
  line-height: 30px;
  z-index: 9999;
}
.pusher-window {
  height:100vh;
  overflow: hidden;
}
.fixed-content{
  height: calc(100% - 60px);
  overflow: hidden;
}
.opp-table, .usr-table{
  height: calc(100% - 160px);
  overflow: auto;
  width: 100%;
}
.fld-table{
  height: 100%;
  overflow: auto;
  width: 100%;
}
.opportunity-form{
  max-height: calc(100vh - 102px);
  height: calc(100% - 30px);
  overflow: auto;
}
.logo-wrapper{
  width: 260px;
  height: 240px;
  background: white;
  padding-top: 32%;
}
.adv-search-field.disabled{
  pointer-events: none;
  opacity: 0.4;
}
.top-z-index{
  z-index: 9999 !important;
}
.full-width{
  width: 100%;
}
.spacer-lg{
  min-height:50px;
}
.fake-item{
  display:none !important;
}
.inline-block{
  display: inline-block;
}
.menu-label{
  line-height: 21px;
}
.no-margin{
  margin:0 !important;
}
.gap1 {
  margin-top: 10px !important;
}
.full-width{
    width: 100% !important;
}
.hide-me{
  display:none !important;
}
.loading-indicator{
  min-height: 200px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.sm-margin-btn{
  margin-left: 8px !important;
}
/* Target all children of home-sidebar*/
.home-sidebar *{

}
.home-sidebar, .home-navbar{
  background-color: #e4ebf1 !important;
}
.home-sidebar img{
  display:block;
  margin:0;
  width: 100%;
}
.home-sidebar.ui.vertical.menu .active.item, .home-sidebar.ui.vertical.menu .active.item:hover,
.home-sidebar.ui.vertical.menu .item:hover{
  /*background: rgba(0, 0, 0, 0);*/
  border:none;
  /*font-weight: bold;*/
}
.side-nav-section-header{
  font-weight: 500;
  font-size: 1.1em;
  padding-left: 15px;
  margin-bottom: 4px;
}
.nav-header-menu{
  border-radius: 0px !important;
}
.nav-header-menu .item:before{
  width: 0px !important;
}
.side-nav-item{
  margin-top: 6px;
  margin-bottom: 6px;
}
.side-nav-item:before{
  background: none;
  background-color: transparent;
  height: 0px !important;
}

.ui.grid {
  margin: 0 auto;
}
.ui.grid .ui-content {
  padding: 1rem;
}

.ui-main {
  width: calc(100% - 260px);
}

.ui-main .ui-content {
  padding: 20px;
}

.ui.attached.menu {
  height: 100px;
  padding-left: 0px;
  padding-right: 0px;
}
.ui.attached.menu .ui.container {
  width: 100%;
  margin: 0 auto;
}
.ui.attached.menu .item {
  height: 100px;
}

.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless) > .container > .item:not(.right):not(.borderless):first-child {
  border-left: 0px solid #ffffff;
  padding-left: 5%;
  padding-right: 5%;
}

.breadcrumbs {
  padding-left: 0px;
}
.breadcrumbs .breadcrumb-item {
  padding-left: 0px;
  list-style-type: none;
}
.step{
  cursor: pointer !important;
  /*padding: 0px;
  height:30px;*/
}
.ui.steps .step > .icon {
  font-size: 2em;
}
.ui.four.steps > .step {
    width: 25%;
    height: 36px;
    padding: 6px;
}
.ui.steps .step.active .title{
  color:black;
}

.validation-errors {
  background-color: #e74c3c;
  color: white;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-image: -webkit-linear-gradient(top,#e74c3c,#c0392b);
  background-image: -moz-linear-gradient(top,#e74c3c,#c0392b);
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  font-size: 12px;
  line-height: 20px;
}

.field-settings-box{
  border:1px solid gray;
  width:100%;
  min-height:40px;
  padding:12px;
}
/*  Advanced search styles  */
.advanced-search-component{
  /*margin:12px;*/
  white-space: nowrap;
}
.advanced-search{
  padding-left: 30px !important;
  border-radius: 6px !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  margin: 0 !important;
}
.adv-search-dropdown{
  height: 37px;
  margin-left: -8px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
.adv-search-menu{
  white-space: normal;
  padding: 10px 14px !important;
}
.adv-search-input{
  vertical-align: top;
}
.adv-search-icon-left{
  left:0;
}
.adv-search-btn{
  height: 37px;
  vertical-align: top;
  border-radius: 0px !important;
  margin-left: -4px !important;
}
.menu.adv-search-menu.transition.visible {
    left: -264px;
}
.date-picker-btn{
  padding: 0.7em;
  width: 100%;
  content: '';
  background: rgba(0, 0, 0, 0);
  border: none;
  height: 34px;
  vertical-align: top;
}
.date-icn-btn{
  vertical-align: top !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  margin-left: -4px !important;
}
/*.custom-date-picker{
  display: inline-block;
  width: 200px;
}*/
.date-picker__wrapper{
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: 1px solid #dedede;
  border-radius: 6px;
}
.right-icon-calendar{
  margin:0;
}
.white-button{
  /*color:#908f8f !important;*/
  border: 1px solid rgba(222,222,222,1) !important;
  background-color: white !important;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(222,222,222,1) !important;
  -moz-box-shadow: 0px 3px 5px 0px rgba(222,222,222,1) !important;
  box-shadow: 0px 3px 5px 0px rgba(222,222,222,1) !important;
}
/*.white-button:active{
  color:red !important;
}*/
.white-button i{
  background-color: white !important;
}

/*Hamburger Mobile Menu*/
.ui.grid.main{
	margin-top: 70px;
}
.mobile.row{
	padding-top: 0px !important;
	margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
	border-radius: 0px !important;
}

.padding-reset{
	padding: 0px !important;
}

.ui.message{
	padding: 40px !important;
}

.seamless-button, .seamless-button:active, .seamless-button:hover, .seamless-button:focus{
  border:none;
  outline-style: none;
}

/* meta box info above NAO list and User list */
.meta {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 0px;
  float: right;
  font-size: 26px;
}
.meta span {
  font-size: 34px;
}

.make-me-button label:before, .make-me-button label:after{
  display:none;
}
.make-me-button{
  text-align: center;
  padding: 8px;
}
.make-me-button label{
  padding:0 !important;
}
.make-me-button.checked{
  background-color: #BABBBC;
}
.no-border-radius{
  border-radius: 0 !important;
}

@media (max-width: 768px) {

  .advanced-search-component{
    margin:12px 0;
  }
  .adv-search-input{
    max-width: 160px;
  }

  .ui.grid.main{
  	margin-top: 70px;
  }

  .ui.grid { margin: 0 !important; }

  .ui.vertical.menu.navbar{
  	margin-top: 0px !important;
  }
  .ui.vertical.menu{
    margin-top: -15px !important;
    width: 100%;
    display: none;
  }
  .ui-main.pusher{
    width: 100%;
    transform: translate3d(0, 0, 0) !important;
  }
  .logo-wrapper{
    height: 60px;
    padding-top: 5px;
    width: 230px;
  }
  .apem-logo{
    max-width: 200px;
  }

  .mobile-right-menu{
    position: absolute;
    right: 0.6em;
    top: 0.6em;
  }

  /* responsive two-column to one-column layout for NAO form */
  .ui.opportunity-form .ui[class*="two column"].grid > .row > .column, .ui[class*="two column"].grid > .column:not(.row) {
      width: 100%;
  }
}
@media (max-width:400px) {
  .secondary-header-dropdown-item{
    position: absolute !important;
    right: 0px;
    top: 0px;
  }
}
/*END of Hamburger mobile menu*/
