<table class="ui table ui-table table-head">

  <thead>
    <tr>
      <th>Field Name</th>
      <th>Visible</th>
      <th>Required</th>
    </tr>
  </thead>

</table>

<div class="table-wrap">
  <table class="ui table ui-table table-body">

    <tbody>

      {{#each model as |fld|}}
        <tr>
          <td>
            {{fld.label}}
          </td>
          <td>
            {{input type="checkbox" class="" checked=fld.visible change=(action "onVisibleChange" fld)}}
          </td>
          <td>
            {{input type="checkbox" class="" checked=(mut fld.required) disabled=(is-equal fld.visible false) change=(action "onRequiredChange" fld)}}
          </td>
        </tr>
      {{/each}}

    </tbody>

  </table>
</div>
