<table class="ui table ui-table">

  <thead>
    <tr>
      <th>Field Name</th>
      <th>Type</th>
      <th>Required</th>
    </tr>
  </thead>

  <tbody>

    {{#each model as |fld|}}
      <tr>
        <td>{{fld.label}}</td>
        <td>{{fld.type}}</td>
        <td>
          {{input type="checkbox" class="" checked=fld.required disabled=true}}
        </td>
      </tr>
    {{/each}}

  </tbody>

</table>
