<div class="ui attached stackable menu">
  <div class="ui container">
    <div class="item">
      {{bread-crumbs tagName="ul" outputStyle="foundation" linkable=false crumbClass="breadcrumb-item"}}
    </div>

    <div class="right item">
      Welcome Username
    </div>
    <div class="right item">
      Last Login Info
    </div>
    <div class="ui simple dropdown right item">
      More
      <i class="dropdown icon"></i>
      <div class="menu">
        <a href="/logout" class="item"><i class="edit icon"></i> Logout</a>
        <a href="/dashboard" class="item"><i class="globe icon"></i> Home</a>
        <a class="item"><i class="settings icon"></i> Help</a>
      </div>
    </div>
  </div>
</div>
