<div class="ui stackable menu nav-header-menu">
  <div class="vertically fitted item">
    {{bread-crumbs tagName="ul" outputStyle="foundation" linkable=false crumbClass="breadcrumb-item"}}
  </div>

  <div class="item new-nao-btn">
    {{#link-to "opportunities.new" class="ui button green"}}<i class="plus icon"></i>New NAO{{/link-to}}
  </div>

  <div class="right item">
    {{#ui-dropdown class="ui simple dropdown secondary-header-dropdown-item"}}
    <!-- <div class="ui simple dropdown"> -->
        Welcome, {{identity.profile.username}}
      <i class="ellipsis large vertical icon"></i>
      <div class="menu full-width top-z-index">
        <a href="/dashboard" class="item"><i class="big home icon"></i> Home</a>
        <a class="item"><i class="big info circle icon"></i> Help</a>
        <a href="/logout" class="item"><i class="big fa-sign-out icon"></i> Logout</a>
      </div>
    {{/ui-dropdown}}<!-- </div> -->
  </div>
</div>
