{{bread-crumbs
  tagName="ul"
  outputStyle="foundation"
  linkable=false
  crumbClass="breadcrumb-item"}}

{{#link-to "opportunities.new" class="ui button green new-nao-btn"}}<i class="plus icon"></i>New NAO{{/link-to}}

{{#ui-dropdown class="right column item simple"}}
    Welcome {{identity.profile.username}}
  <i class="ellipsis large vertical icon"></i>
  <div class="right menu full-width top-z-index">
    {{#link-to 'opportunities' class="item"}}<i class="big home icon"></i>Home{{/link-to}}
    <a class="item"><i class="big info circle icon"></i> Help</a>
    <a href="/logout" class="item"><i class="big fa-sign-out icon"></i> Logout</a>
  </div>
{{/ui-dropdown}}
