<div class="ui attached stackable menu">
  <div class="ui container">
    <div class="item">
      Page Title?
    </div>
    <a class="item">
      Action Name? (new NAO?)
    </a>
    <div class="right item">
      Welcome Username
    </div>
    <div class="right item">
      Last Login Info
    </div>
    <div class="ui simple dropdown right item">
      More
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="edit icon"></i> Logout</a>
        <a class="item"><i class="globe icon"></i> Home</a>
        <a class="item"><i class="settings icon"></i> Help</a>
      </div>
    </div>
    <!--<div class="right item">
      <div class="ui input"><input type="text" placeholder="Search..."></div>
    </div>-->
  </div>
</div>
