<div class="ui content">

  <div class="validation-errors">
      {{error-message errors=serverErrors}}
  </div>

  <div class="details">
    {{opportunities/opt-form
      model=model
      fields=fields
      users=users
      onOptSave='onOptSave'
      onOptDelete='onDelete'
      onCopy='copyRecord'}}
  </div>
</div>
