<div class="ui content">

  <div class="validation-errors">
      {{error-message errors=serverErrors}}
  </div>

  <div class="details">
    {{opportunities/opt-form model=model fields=fields onOptSave='onOptSave' onOptDelete='onDelete'}}
  </div>
</div>
