<div class="vertical menu visible home-sidebar ember-view ui sidebar left">
  <img src="assets/images/corp-logo.png" class="apem-logo"/>
  <div class="spacer spacer-lg"></div>
  {{#link-to "opportunities" class="item side-nav-item"}}Home{{/link-to}}
  <!-- <a class="item side-nav-item">Currency Rate</a><!-- {{#link-to "home" class="item"}}Currency Rate{{/link-to}} --> -->
  <a class="item side-nav-item">Manage Password</a><!-- {{#link-to "home" class="item"}}Manage Password{{/link-to}} -->

  <div class="spacer spacer-lg"></div>
  <a class="item side-nav-item">Admin</a>
  {{#link-to "users" class="item side-nav-item"}}User Management{{/link-to}}
  {{#link-to "fields" class="item side-nav-item"}}Form Management{{/link-to}}
</div>
