<ul>
  {{#each model.options as |option|}}
    <div class="block" draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)">{{option.label}}</div>
  {{/each}}
<!-- <div class="block" draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)"><li>Apples</li></div>
    <li draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)">Oranges</li>
    <li draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)">Bananas</li>
    <li draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)">Strawberries</li> -->
</ul>
