<!-- Side Bar Navigation -->
{{outlet 'nav-sidebar'}}

<!-- Main Section -->
<div class="ui-main ui grid pusher">
  <!-- Application Header -->
  {{outlet 'nav-header'}}

  <div class="ui-content">
    <!-- Main Application Content -->
    {{outlet}}

    <!-- Modal -->
    {{outlet 'modal'}}
  </div>
</div>
