{{date-picker
  action=(action 'updateDate' on="setDate")
  width=inputWidth
  valueFormat='YYYY-MM-DD'
  placeholder=""
  allowBlank=true
  buttonClasses="date-picker-btn"
  class="cust-date-field"}}

<!-- action=(action (mut date)) -->
<button class="ui active button date-icn-btn" {{action 'openDatepicker'}}>
  {{btnLabel}}
  <i class="calendar icon no-margin"></i>
</button>
{{#if date}}
  <i class="close icon" {{action 'clearTheDate'}}></i>
{{/if}}
