{{date-picker
  action=(action 'updateDate' on="setDate")
  placeholder=""
  valueFormat='YYYY-MM-DD'
  format='YYYY-MM-DD'
  utc=false
  allowBlank=true
  buttonClasses="date-picker-btn"
  class=inputClass}}

<!-- action=(action (mut date)) -->
<button class="ui active button date-icn-btn" {{action 'openDatepicker'}}>
  {{btnLabel}}
  <i class="calendar icon no-margin"></i>
</button>
{{#if date}}
  <i class="close icon clear-date-btn" {{action 'clearTheDate'}}></i>
{{/if}}
