{{date-picker action=(action 'updateDate') placeholder="" buttonClasses="date-picker-btn"}}
<button class="ui active button date-icn-btn" {{action 'openDatepicker'}}>
  {{btnLabel}}
  <i class="calendar icon no-margin"></i>
</button>
