<div class="ui grid mobile only home-navbar">
  <div class="mobile only row">
    {{#ui-dropdown }}
      <div class="ui fixed navbar menu">
          <a href="" class="brand">APEM</a>

          <div class="right menu open">
              <a href="" class="menu item">
                  <i class="content icon"></i>
              </a>
          </div>
          <div class="ui vertical navbar menu">
              <a href="" class="active item">Home</a>
              <a href="" class="item">About</a>
              <a href="" class="item">Contact</a>
              <div class="ui item">
                  <div class="text">Dropdown</div>
                  <div class="menu">
                      <a class="item">Action</a>
                      <a class="item">Another action</a>
                      <a class="item">Something else here</a>
                      <a class="ui aider"></a>
                      <a class="item">Seperated link</a>
                      <a class="item">One more seperated link</a>
                    </div>
              </div>
              <div class="menu">
                  <a href="" class="active item">Default</a>
                  <a href="" class="item">Static top</a>
                  <a href="" class="item">Fixed top</a>
              </div>
          </div>
      </div>
    {{/ui-dropdown}}
  </div>
</div>
