<div class="field gap1">
  <label>Stage</label>
  <div class="ui four top attached steps">
    <div class="quote step" {{action 'onStepClick' 'quote'}}>
      <i class="green check icon quote-step-icn hidden"></i>
      <div class="content">
        <div class="title">Quote</div>
        <!-- <div class="description">Choose your shipping options</div> -->
      </div>
    </div>
    <div class="sample step" {{action 'onStepClick' 'sample'}}>
      <i class="green check icon sample-step-icn hidden"></i>
      <div class="content">
        <div class="title">Sample</div>
        <!-- <div class="description">Enter billing information</div> -->
      </div>
    </div>
    <div class="approval step" {{action 'onStepClick' 'approval'}}>
      <i class="green check icon approval-step-icn hidden"></i>
      <div class="content">
        <div class="title">Approval</div>
      </div>
    </div>
    <div class="production step" {{action 'onStepClick' 'production'}}>
      <i class="green check icon production-step-icn hidden"></i>
      <div class="content">
        <div class="title">Production</div>
      </div>
    </div>
  </div>
</div>
