<div class="field gap1 side-padded-fourteen">
  <label>Stage</label>
  <div class="ui four top attached steps">
    <div class="quote step" value="quote">
      <i class="green check icon quote-step-icn hidden" value="quote"></i>
      <div class="content" value="quote">
        <div class="title" value="quote">Quote</div>
        {{#if quoteEvent}}
          <div class="description">
            {{date-picker
              bubble
              action=(action 'updateStageDate' quoteEvent)
              placeholder=quoteEvent.date
              valueFormat='MM-DD-YYYY'
              format='MM-DD-YYYY'
              utc=false
              time=false
              date=quoteEvent.date
              allowBlank=true
              class="label-like-date-picker"
              buttonClasses='label-like'}}
          </div>
        {{/if}}
      </div>
    </div>
    <div class="sample step" value="sample">
      <i class="green check icon sample-step-icn hidden" value="sample"></i>
      <div class="content" value="sample">
        <div class="title" value="sample">Sample</div>
        {{#if sampleEvent}}
          <div class="description">
            {{date-picker
              action=(action 'updateStageDate' quoteEvent)
              placeholder=sampleEvent.date
              valueFormat='MM-DD-YYYY'
              format='MM-DD-YYYY'
              utc=false
              time=false
              date=sampleEvent.date
              allowBlank=true
              class="label-like-date-picker"
              buttonClasses='label-like'}}
          </div>
        {{/if}}
        <!-- <div class="description">Enter billing information</div> -->
      </div>
    </div>
    <div class="approval step" value="approval">
      <i class="green check icon approval-step-icn hidden" value="approval"></i>
      <div class="content" value="approval">
        <div class="title" value="approval">Approval</div>
        {{#if approvalEvent}}
          <div class="description">
          {{date-picker
            action=(action 'updateStageDate' quoteEvent)
            placeholder=approvalEvent.date
            valueFormat='MM-DD-YYYY'
            format='MM-DD-YYYY'
            utc=false
            time=false
            date=approvalEvent.date
            allowBlank=true
            class="label-like-date-picker"
            buttonClasses='label-like'}}
          </div>
        {{/if}}
      </div>
    </div>

    <div class="production step" value="production">
      <i class="green check icon production-step-icn hidden" value="production"></i>
      <div class="content" value="production">
        <div class="title" value="production">Production</div>
        {{#if productionEvent}}
          <div class="description">
            {{date-picker
              action=(action 'updateStageDate' quoteEvent)
              placeholder=productionEvent.date
              valueFormat='MM-DD-YYYY'
              format='MM-DD-YYYY'
              utc=false
              time=false
              date=productionEvent.date
              allowBlank=true
              class="label-like-date-picker"
              buttonClasses='label-like'}}
            </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
