<div class="ui left vertical menu sidebar visible home-sidebar">
  <img src="assets/images/corp-logo.png" class="apem-logo"/>
  <div class="spacer spacer-lg"></div>
  <a class="item">Home</a>
  <a class="item">Currency Rate</a>
  <a class="item">Manage Password</a>

  <div class="spacer spacer-lg"></div>
  <a class="item">Admin Functions</a>
  <a class="item">User Management</a>
  <a class="item">Form Management</a>
</div>
