{{#ui-sidebar compact=true}}
    <ul class="nav" id="side-menu">
        <li><a><i class="revegy-icon icon-magnify-outline"></i> <span class="nav-label">Start</span></a></li>
        <li><a><i class="revegy-icon icon-magnify-outline"></i> <span class="nav-label">Binary choice</span></a></li>
        <li><a><i class="revegy-icon icon-magnify-outline"></i> <span class="nav-label">Multiple choice</span></a></li>
        <li><a><i class="revegy-icon icon-magnify-outline"></i> <span class="nav-label">End</span></a></li>
        <li><a><i class="revegy-icon icon-magnify-outline"></i> <span class="nav-label">Trigger</span></a></li>
        <li><a><i class="revegy-icon icon-magnify-outline"></i> <span class="nav-label">Delete</span></a></li>
    </ul>
{{/ui-sidebar}}
